# Emacs backups
*~

# LaTeX outputs
*.aux
*.log
*.dvi

# Object code
hackass.jar
*.class

# Don't version-control javadoc for now
api

# Antlr outputs
*/grammar/*.java
*.tokens
*.interp

# Hackass outputs
*.hack